<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UserDefaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDD8637B1D37EBC300A6E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD863921D37EBC400A6E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD8639D1D37EBC400A6E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
